$c-white: #ffffff;
$c-text: #231E1E;
$c-selection: #DAC2F2;

$trS: .1s ease-in-out;
$tr: .2s ease-in-out;
$trM: .3s ease-in-out;
$trL: .5s ease-in-out;

$f-prim: 'Raleway', sans-serif;
$fs-base: 1.6rem;