@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

#__next {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: "main"
                       "footer";
  min-height: 100vh;
}

main {
  height: auto;
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}


/* todo:move to themeToggle component*/
.sun-and-moon > :is(.moon, .sun, .sun-beams) {
  transform-origin: center center;
}

.sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill)
}

.theme-toggle:is(:hover, :focus-visible) > .sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill-hover)
}

.sun-and-moon > .sun-beams {
  stroke: var(--icon-fill);
  stroke-width: 2px
}

.theme-toggle:is(:hover, :focus-visible) .sun-and-moon > .sun-beams {
  stroke: var(--icon-fill-hover)
}

[data-theme="dark"] .sun-and-moon > .sun {
  transform: scale(1.75);
}

[data-theme="dark"] .sun-and-moon > .sun-beams {
  opacity: 0;
}

[data-theme="dark"] .sun-and-moon > .moon > circle {
  transform: translateX(-7px)
}

@supports (cx: 1) {
  [data-theme="dark"] .sun-and-moon > .moon > circle {
    transform: translateX(0);
    cx: 17
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sun-and-moon > .sun {
    transition: transform .5s cubic-bezier(.5, 1.25, .75, 1.25);
  }

  .sun-and-moon > .sun-beams {
    transition: transform .5s cubic-bezier(.5, 1.5, .75, 1.25),
    opacity .5s cubic-bezier(.25, 0, .3, 1);
  }

  .sun-and-moon .moon > circle {
    transition: transform .25s cubic-bezier(0, 0, 0, 1)
  }

  @supports (cx: 1) {
    .sun-and-moon .moon > circle {
      transition: cx .25s cubic-bezier(0, 0, 0, 1)
    }
  }
  [data-theme="dark"] .sun-and-moon > .sun {
    transform: scale(1.75);
    transition-timing-function: cubic-bezier(.25, 0, .3, 1);
    transition-duration: .25s;
  }

  [data-theme="dark"] .sun-and-moon > .sun-beams {
    transform: rotateZ(-25deg);
    transition-duration: .15s;
  }

  [data-theme="dark"] .sun-and-moon > .moon > circle {
    transition-delay: .25s;
    transition-duration: .5s;
  }
}

.theme-toggle {
  --size: 2rem;
  --icon-fill: hsl(210 10% 30%);
  --icon-fill-hover: hsl(210 10% 15%);

  background: none;
  border: none;
  padding: 0;

  inline-size: var(--size);
  block-size: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;

  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  outline-offset: 5px
}

.theme-toggle > svg {
  inline-size: 100%;
  block-size: 100%;
  stroke-linecap: round;
}

[data-theme="dark"] .theme-toggle {
  --icon-fill: hsl(210 10% 70%);
  --icon-fill-hover: hsl(210 15% 90%)
}

@media (hover: none) {
  .theme-toggle {
    --size: 48px
  }
}
